#### Backend 

api/node_modules/
api/dist/
api/.env
firebase-debug.log


#### Frontend

ui/node_modules
ui/dist
ui/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#firebase
firebase-debug.log
.firebase/
