{
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "printWidth": 80,
  "semi": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
